.myName {
    background-color: red;
    color: wheat;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
}