// h1 {
//     text-align: center;
//     color: red;
// }
.textColor {
    color: red;
}

.textSize {
    font-size: 20px;
}

.textFamily {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}