<!-- <h1>Angular Material</h1> -->
<!-- <div>
  <button mat-stroked-button color="primary">Material</button>
</div>
<div class="mat-display-1">Header1</div>
<div class="mat-display-2">Header1</div>
<div class="mat-display-3">Header1</div>
<div class="mat-display-4">Header1</div>
<div class="mat-title">Header1</div>
<div class="mat-headline">Header1</div> -->
<!-- <div class="mat-typography">
  <h1>Header</h1>
  <h2>Header</h2>
  <h3>Header</h3>
  <h4>Header</h4>
</div> -->

<!-- <div>
  <button mat-button>Normal button</button>
  <button mat-raised-button>raised button</button>
  <button mat-flat-button>flat button</button>
  <button mat-stroked-button>stroked button</button>
</div>

<div>
  <button mat-button color="primary">Normal button</button>
  <button mat-raised-button color="warn">raised button</button>
  <button mat-flat-button color="accent">flat button</button>
  <button mat-stroked-button color="secondary">stroked button</button>
</div>
<div>
  <button mat-icon-button disableRipple>Icon button</button>
  <button mat-fab disableRipple>Fab button</button>
  <button mat-mini-fab>Fab button</button>
</div> -->
<!-- <h1>Button toggles</h1>
<div>
  <mat-button-toggle #state disableRipple disabled>Toggle</mat-button-toggle>
  {{state.checked}}
</div>
<div>
  <mat-button-toggle-group #group="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue" checked>Vue</mat-button-toggle>
    {{group.value}}
  </mat-button-toggle-group>
</div>

<h1>Icons</h1>
<div>
  <mat-icon>refresh</mat-icon>
  <mat-icon>home</mat-icon>
  <mat-icon color="primary">check_circle_outline</mat-icon>
  <mat-icon>search</mat-icon>
  <mat-icon>update</mat-icon>
  <mat-icon>delete</mat-icon>
  <mat-icon>date_range</mat-icon>
  <mat-icon>settings</mat-icon>
  <mat-icon>create</mat-icon>

</div>
<div>
  <h1>Badges</h1>
  <div>
    <span matBadge="7">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgePosition="below before">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgePosition="below after">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgePosition="above before">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgePosition="above after">Notifications</span>
  </div><br>
  <h1>Badge sizes</h1>
  <div>
    <span matBadge="7" matBadgeSize="small">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgeSize="medium">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgeSize="large">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgeColor="accent">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgeColor="warn">Notifications</span>
  </div><br>
  <div>
    <span matBadge="7" matBadgeColor="accent" matBadgeOverlap="false">Notifications</span>
  </div><br>
  <div>
    <span [matBadge]="notifications" matBadgeColor="accent" [matBadgeHidden]="notifications===0">Notifications</span>
  </div>
  <div>

    <h1>Progress spinner</h1>
    <div>
      <mat-progress-spinner value="100"></mat-progress-spinner>
    </div><br>
  </div>
</div>

<button mat-raised-button (click)="loadingData()">Load Data</button>
<mat-spinner color="accent" *ngIf="showSpinner"></mat-spinner> -->
<!-- <div>
  <button mat-raised-button *ngIf="showButton" (click)="goToToolBar()">ToolBar</button>
  <router-outlet></router-outlet>
</div> -->
<!-- <app-tool-bar></app-tool-bar> -->
<!-- <app-forms></app-forms> -->
<app-mat-tables></app-mat-tables>