.myCard {
    max-width: 400px;
    margin-bottom: 280px;


}

.headerImage {
    background-image: url('../../assets/images/mouritech\ logo.png');
    background-size: cover;
}

img {
    height: 350px;
}