<mat-card class="myCard">
    <mat-card-header>
        <div mat-card-avatar class="headerImage"></div>
        <mat-card-title>Rajitha Sanepalli</mat-card-title>
        <mat-card-subtitle>Associate software engineer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/myPhoto.png">
    <mat-card-content>
        <p>Rajitha sanepalli born on 1998,Working in Mouritech,Hyderabad</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="priamry">Like</button>
        <button mat-raised-button color="warn">Share</button>
    </mat-card-actions>
</mat-card>