<!-- <app-student-details></app-student-details>
<app-student-list></app-student-list> -->
<!-- <div class="bg-image">
    <h1>Reactive forms</h1>
</div> -->
<!-- <h1>parent component</h1>
<h2>{{child.counter}}</h2>
<button type="button" (click)="inc()">Increment</button>
<button type="button" (click)="dec()">Decrement</button>
<app-child #child></app-child> -->
<!-- <p #mouri>Hello Mouritech</p>
<h2 #mouri>Hello Raj</h2> -->
<!-- <app-reactive-component></app-reactive-component> -->
<!-- <router-outlet></router-outlet>
 -->

<!-- <button type="button" routerLink="/faculty">Faculty</button> -->


<!-- <app-parent></app-parent> -->
<h1>Login Form</h1>
<app-registration-form></app-registration-form>