<!-- <h1>Template driven forms</h1> -->
<h1>Reactive forms</h1>
<app-reactive-form></app-reactive-form>
<!-- <app-test (childInfo)="childMsg=$event" [fromParent]="parentMsg"></app-test>
<h2>{{childMsg}}</h2> -->
<!-- <app-student-list></app-student-list>
<app-student-details></app-student-details> -->
<!-- <router-outlet></router-outlet> -->
<!-- <nav>
    <a routerLink="/student-details" routerLinkActive="active">StudentDetails</a>&nbsp;&nbsp;
    <a routerLink="/student-list" routerLinkActive="active">StudentList</a>

</nav> -->

<!-- <app-tdf></app-tdf> -->
<!-- <app-lifecycle-hooks *ngIf="isVisible" [myNumber]="counter"></app-lifecycle-hooks>
<div class="btns">

    <button type="button" class="btn btn-primary" (click)="incCounter()">+1</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="decCounter()">-1</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="destroy()">Destroy</button>

</div> -->

<!-- <app-promises-observables></app-promises-observables>
<app-search-country-promise></app-search-country-promise>
<app-search-country-obesrvable></app-search-country-obesrvable> -->

<!-- <app-multicating-observable></app-multicating-observable> -->
<!-- <app-subject-behaviouralsubject></app-subject-behaviouralsubject>


<p>View Encapsulation</p> -->